/* Global dark mode */
body.dark-mode {
  filter: invert(100%) hue-rotate(180deg) !important;
  background: #1d1919 !important;
  text-shadow: none !important;
}

body.dark-mode .sidebar img,
body.dark-mode .sidebar video,
body.dark-mode .sidebar embed,
body.dark-mode .sidebar object,
body.dark-mode .sidebar svg image {
  filter: none !important;
}


/* Cancel dark mode in sidebar */
body.dark-mode .sidebar {
  filter: invert(100%) hue-rotate(
180deg) !important; /* re-invert to normal */
  background: #030303 !important;
  color: #ccc !important; /* readable */
}

body.dark-mode .dashboard-content h3 {
  color: #787eaf;
}

body.dark-mode .dashboard-content p {
  color: #bdb975;
}

/* Exclude media from double inversion */
body.dark-mode img,
body.dark-mode video,
body.dark-mode embed,
body.dark-mode object,
body.dark-mode svg image,
body.dark-mode input,
body.dark-mode img[src^="https://s0.wp.com/latex.php"],
body.dark-mode img.Wirisformula {
  filter: invert(100%) hue-rotate(180deg) !important; /* restores natural colors */
}
